/* prevent horizontal scrolling on the body */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* Scrolling icons animations for hero and footer */
@keyframes pan-diagonally {
    0% {
      background-position: 0% 0%;
    }
    100% {
        background-position: -100% 500%;
    }
}
@keyframes footer-anim {
    0% {
      background-position: 0% 0%;
    }
    100% {
        background-position: -100% 1100%;
    }
}
.hero-pattern {
    background-image: url("../images/hero-pattern-2.png");
    background-size: 10%;
    animation: pan-diagonally 180s linear infinite;
}
.footer-pattern {
    background-image: url("../images/hero-pattern-white.png");
    background-size: 10%;
    animation: footer-anim 180s linear infinite;
}


/* Animation for panning text */
@keyframes animate-text {
    from {
      transform: translate3d(-10%, 0, 0);
    }
    to {
      transform: translate3d(-110%, 0, 0);
    }
}
.scrolling-text {
    width: 120%;
    left: -10%
    overflow: hidden;
    display: flex;
    white-space: nowrap;
    position: 0% 0%
}
.text {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    animation: animate-text 75s linear infinite; /* The animation property */
}
.text span {
    margin: 5px
}
.spacer {
    margin: 180px;
    color: #ffffff;
}



.hoverable-navbar-item:hover {
    background-color: #cd2356;
}

.button {
    border: solid 1px white;
}

.yellow-em {
    color: #ffbf29;
    font-weight: bold !important;
}

.problem {
    background-color: #000000;
    opacity: 1;
    background-image:  radial-gradient(#656565 0.6000000000000001px, transparent 0.6000000000000001px), radial-gradient(#656565 0.6000000000000001px, #000000 0.6000000000000001px);
    background-size: 24px 24px;
    background-position: 0 0,12px 12px;
    animation: pan-diagonally 180s linear infinite;
}
.problem p {
    color: #ffffff;
}
.translucent-gray-background {
    background-color: rgba(46, 51, 61, 0.7);
}
.opaque {
    opacity: 100%;
}

/* Styling rules for images */
.rounded-corners {
    border-radius: 10px;
}
.translucent {
    opacity: 0.75;
}
.caption-container {
    position: relative;
}
.caption {
    position: absolute;
    padding: 2px 5px 2px 5px;
    text-align: center;
}