.hero-pattern {
    background-image: url("../images/hero-pattern-2.png");
    background-size: 10%;
    animation: pan-diagonally 180s linear infinite;
}

@keyframes pan-diagonally {
    0% {
      background-position: 0% 0%;
    }
    100% {
        background-position: -100% 500%;
    }
}


/* Animation for panning text */
@keyframes animate_text {
    from {
      transform: translate3d(10%, 0, 0);
    }
    to {
      transform: translate3d(-110%, 0, 0);
    }
}
.scrolling-text {
    width: 100%;
    overflow: hidden;
    display: flex;
    white-space: nowrap;
}
.text {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    animation: animate_text 75s linear infinite; /* The animation property */
}
.text span {
    margin: 5px
}
.spacer {
    margin: 180px;
    color: #ffffff;
}



.hoverable-navbar-item:hover {
    background-color: #cd2356;
}

.button {
    border: solid 1px white;
}

.yellow-em {
    color: #ffbf29;
    font-weight: bold !important;
}