// Define my variables
$red: #cd2355;
$gaminglizard9-green: #41bd22;
$dark-gray: #111111;
$black: #000000;
$purple: #cc00cc;

// Load Bulma's base styles and themes (including the minireset)
@use "bulma/sass" with (
    $family-primary: '"Inter", sans-serif',
    $primary: $red,
    $danger: $purple,
    $success: $gaminglizard9-green,
    $box-background-color: $red,
    $notification-radius: 0.75rem
);

// Get the font
@import url("https://fonts.googleapis.com/css?family=Inter:400,800");